<div class="footer">
    <div class="content">
        <div class="footer-slid">
            <div class="footer-logo">
                <div class="image">
                    <a href="#">PRIVACY</a>
                </div>
                <div class="image">
                    <img src="image/logo.png" alt="logo">
                </div>
                <div class="image">
                    <a href="#">DISCLAIMER</a>
                </div>
            </div>
            <div class="alpari">
                <p>
                    ООО «Альпари-Брокер». Имеет лицензии на брокерскую деятельность, деятельность по осуществлению
                         доверительного управления и деятельность дилера в соответствии с Федеральным законом №39-ФЗ «О
                         рынке ценных бумаг». Лицензии ФСФР России № 016-12915-100000, № 016-12917-010000 и №
                         016-12919-001000. Является членом СРО НАУФОР, свидетельство № 000774. Входит в реестр
                         лицензированных дилеров в разделе профессиональных участников рынка ценных бумаг на официальном
                         сайте Центрального Банка Российской Федерации. ОГРН: 1157746930582 ИНН: 9717003523
                </p>
            </div>
        </div>
    </div>
</div>