<div class="container_3">
    <div class="content">
        <div class="slid_2">
            <div class="title">
                <h4>БЛАГОДАРЯ НАШЕМУ ОПЫТУ МЫ ПРЕДЛАГАЕМ БЕСПЛАТНОЕ ПРОФЕССИОНАЛЬНОЕ
                    ОБУЧЕНИЕ ВАЛЮТНЫМ И ФИНАНСОВЫМ РЫНКАМ</h4>
                <p>Мы набираем бесплатную тестовую группу из 10 человек!</p>
            </div>
            <div class="text">
                <div class="people">
                    <h4>Осталось мест: <span>2</span></h4>
                    <img src="/image/people.png" alt="people">
                </div>
                <div class="forms">
                    <h5>Подать заявку на безплатное обучение </h5>
                    <form method="post" id="indexRegForm">
                        <div class="form-group">
                            <input type="text"  name="firstName" required="required"
                                   placeholder="Ваше Имя" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="email"  name="email" required="required"
                                   placeholder="Ваш Email адрес" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="intl-tel-input allow-dropdown">
                                <input type="text" id="sign_up_phone" name="leadPhone" required="required"
                                       data-validation="mobile" placeholder="Ваш номер телефона" class="form-control"
                                       autocomplete="off"></div>
                        </div>
                        <div class="form-group">
                            <select name="leadCountryId" class="form-control subscribe_phone">
                            </select>
                        </div>

                        <button type="submit">НАЧАТЬ СЕЙЧАС</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>