<div class="container_4" xmlns="http://www.w3.org/1999/html">
    <div class="content">
        <div class="slid_4">
            <div class="title">
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
            </div>
            <div class="video">
                <video width="600" height="300" controls="controls" poster="video/duel.jpg">
                    <source src="video/duel.ogv" type='video/ogg; codecs="theora, vorbis"'>
                    <source src="video/duel.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                    <source src="video/duel.webm" type='video/webm; codecs="vp8, vorbis"'>
                    Тег video не поддерживается вашим браузером.
                    <a href="video/duel.mp4">Скачайте видео</a>
                </video>
            </div>
            <div class="slider">
                <div class="title">
                    <h4>
                        Результаты наших слушателей говорят сами за себя
                    </h4>
                </div>
                <div class="links">
                    <div class="text">
                        <h5>53 741$</h5>
                        <p>за 1 месяц составила рекордная прибыль</br> нашего ученика после обучения</p>
                    </div>
                    <div class="text">
                        <h5>23% учеников</h5>
                        <p>зарабатывают свою первую $1000* УЖЕ</br> в процессе ОБУЧЕНИЯ</p>
                    </div>
                    <div class="text">
                        <h5>41% учеников</h5>
                        <p>зарабатывают $1000* в ближайшие</br> 1-2 месяца после обучения</p>
                    </div>
                </div>
                <div class="button-link">
                    <button type="submit">Подать заявку</button>
                </div>
            </div>
        </div>
    </div>
</div>