<div class="container_5">
    <div class="content">
        <div class="slid_5">
            <div class="title">
                <h4>В ходе обучения вы узнаете:</h4>
            </div>
            <div class="info">
                <div class="image">
                    <img src="image/info_image.png" alt="">
                </div>
                <div class="info-content">
                    <div class="info-text">
                        <div class="text">
                            <p>что такое Голландский анализ и как на нем можно заработать</p>
                        </div>
                        <div class="text">
                            <p>как фундаментальный анализ способствует фундаментальному заработку</p>
                        </div>
                        <div class="text">
                            <p>как можно спрогнозировать будущее с техническим анализом</p>
                        </div>
                        <div class="text">
                            <p>как индикаторы могут привести к победе</p>
                        </div>
                        <div class="text">
                            <p>как торговать по мудрым правилам Money management</p>
                        </div>
                        <div class="text">
                            <p>как можно использовать прогресс автоматической торговли в ваших интересах</p>
                        </div>
                    </div>
                    <div class="info-title">
                        <div class="title">
                            <h4>ЗАПИШИТЕСЬ НА НАШИ КУРСЫ И ВЫ УЗНАЕТЕ ЕЩЕ БОЛЬШЕ!</h4>
                        </div>
                        <div class="button-info">
                            <button type="submit">Записаться на курсы</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>